<html>
<head>
	<title>Scorigami</title>
	<meta name="description" content="Scorigami is a concept thought up by Jon Bois. It is the art of building final scores that have never happened before in WNBA history. Due to the unique nature of how points are scored in (American) Football, where it is impossible to score 1 point on its own, as well as the rarity of the 2 point safety and 8 point touchdown and 2 point conversion, there are a lot of scores that are possible, but have never happened." />
	<meta name="google-site-verification" content="0TxEDey3rEbIYqnUZIjhsAQ_LUPipuSA6J3co4Vk-HY" />
	<script src="https://code.jquery.com/jquery-1.6.2.min.js"></script>
	<script src="../js/Client/teamParser.js"></script>
	<script src="../js/Client/source.js"></script>
	<script src="../js/Client/scorigami_chances.js"></script>
	<link rel="stylesheet" href="../styles/common.css"></link>
	<link rel="stylesheet" href="../styles/table.css"></link>
	<link rel="stylesheet" href="../styles/switch.css"></link>
	<link rel="shortcut icon" href="/scorigamiLogo.png" type="image/x-icon">
	<link rel="icon" href="/scorigamiLogo.png" type="image/x-icon">
</head>
<body id="body">
	<div id="content">
		<h1>WNBA Scorigami</h1>
		<div class="clearfix">
			<div class='outer-wrapper'>
				<div id='switchContainer' class='inner-wrapper'>
					<div class="switchWrapper">
						<label class="switch">
							<input type="checkbox" id="countSwitch">
							<span class="switchSlider"></span>
						</label>
						<div id="countSwitchText" class="switchText">Show Count</div>
					</div>
					<div class="switchWrapper">
						<label class="switch">
							<input type="checkbox" id="gradientSwitch">
							<span class="switchSlider">
							</span>
						</label>
						<div class="switchText">Show Gradient</div>
					</div>			
					<div class="switchWrapper">
						<select id="modeSelector">
							<option value="count" selected disabled>Select a Mode</option>
							<option value="count">Count</option>
							<option value="firstGame">First Game</option>
							<option value="lastGame">Latest Game</option>
						</select>
					</div>
				</div>
			</div>
		</div>
		<div id='sliderContainer' class="invisible">
			<input type="range" min="1997" max="" value="" class="slider" id="yearSlider">
			<span id="sliderValue"></span>
		</div>
		<div id='tableContainer'>
			<img id="loadingTable" src="../images/loading.gif" alt="Loading"/>
			<table id="scoreTable">
			</table>
			<div class="clearfix">
				<div class='outer-wrapper'>
					<div id='hueSpectrumLogarithmic' class='inner-wrapper hueSpectrum invisible'>
							<div id='hueSpectrumLogarithmicLabelMinCount'>1</div>
							<div id="hueSpectrumLogarithmicColors">{{hueSpectrumLogarithmicColors}}</div>
							<div id='hueSpectrumLogarithmicLabelMaxCount'>{{hueSpectrumLogarithmicLabelMaxCount}}</div>
					</div>
					<div id='hueSpectrumLinear' class='inner-wrapper hueSpectrum hidden'>
							<div id='hueSpectrumLinearLabelMinCount'>1997</div>
							<div id="hueSpectrumLinearColors">{{hueSpectrumLinearColors}}</div>
							<div id='hueSpectrumLinearLabelMaxCount'>{{hueSpectrumLinearLabelMaxCount}}</div>
					</div>
				</div>
			</div>
		</div>

		<div class="faq">
			<h2>Frequently Asked Questions</h2>
			<div>
				<h3>What is Scorigami?</h3>
				<p style="margin-top:2px">Scorigami is a concept thought up by Jon Bois. A Scorigami is a final score that has never happend before. For more info, check out the video made by Jon Bois about Scorigami below.</p>
				<div style="text-align: center">
					<iframe id='video' width="560" height="315" src="" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
			<div>
				<h3>How do I read this chart?</h3>
				<p style="margin-top:2px">The winning team's score is along the top (horizontal axis) and the losing team's score is along the right (vertical axis). Scores marked in orange have happened, scores in white have not yet happened, scores in grey are impossible. You can click a cell to get more info.</p>
			</div>
		</div>
		<div id="infoBox" class="hidden"></div>
	</div>
	<footer>
		<span id=lastUpdated></span> Historical Data from <a href="https://www.basketball-reference.com/wnba/">Basketball Reference</a> 
	</footer>
</body>
</html>
